.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: .2rem solid #dee2e6;

  & thead {
    text-align: center;
  }

  & td {
    text-align: center;

    & a {
      font-size: 1.5rem;
    }
  }
}